<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/subs_layout}">

<th:block layout:fragment="content">
<body>
	<article class="body_container">
		<!-- SIDE MENU 로그인 하지 않으면 보여지지 않는다. -->
		<?php include "static/inc/side.html"; ?>
		
		<section class="contents_container_nopad">
			<div class="cpage_head">
				<div><img src="/img/sample_bg.jpg" /></div>
				<div>
					<figure>
						<img src="/img/sample_img.jpg" />
					</figure>
					<div>Creaotr Page Name</div>
					<div>창작분야 : 비디오 포토</div>
				</div>
			</div>

			<article class="fb_c_sc cpage_body">
				<section class="fb_cc cpage_subscr_join">
					<button class="w_all h35 default" onclick="location.href='mem_be.html';"
							th:onclick="|location.href='@{/subs/mem/be(key=${session.session})}'|">구독하기</button>
				</section>

				<div class="fb_cc container_support_title">구독자 등급 선택</div>
				<section class="tier_area">
					<!-- 등급목록 -->
					<article class="tier">
						<img src="/img/icon_level_top.png" />
						<div class="perksName">무료 구독자 (Free)</div>
						<div class="perksPrice"><span>₩ 0</span> / 월</div>
						
						<p>기본 사진을 무료로 마음껏 감상 하세요.</p>
						
						<div class="fb_sc perks">구독자 전용 업데이트</div>
						<div class="fb_sc perks">무료 구독자 전용 창작물 제공</div>
						
						<section class="fb_cc mem_be_btns">
							<button type="button" class="w150 h35 lightBlue" onclick="location.href='mem_pay.html';"
									th:onclick="|location.href='@{/subs/mem/pay(key=${session.session})}'|">가입하기</button>
						</section>
					</article>

					<!-- 등급목록 -->
					<article class="tier">
						<img src="/img/icon_level_top.png" />
						<div class="perksName">공식 구독자 (Official)</div>
						<div class="perksPrice"><span>₩ 10,000</span> / 월</div>
						
						<p>기본 사진을 무료로 마음껏 감상 하세요.</p>
						
						<div class="fb_sc perks">구독자 전용 업데이트</div>
						<div class="fb_sc perks">공식 구독자 전용 창작물 제공</div>
						
						<section class="fb_cc mem_be_btns">
							<button type="button" class="w150 h35 lightBlue" onclick="location.href='mem_pay.html';"
									th:onclick="|location.href='@{/subs/mem/pay(key=${session.session})}'|">가입하기</button>
						</section>
					</article>

					<!-- 등급목록 -->
					<article class="tier">
						<img src="/img/icon_level_top.png" />
						<div class="perksName">VIP 구독자 (VIP)</div>
						<div class="perksPrice"><span>₩ 50,000</span> / 월</div>
						
						<p>기본 사진을 무료로 마음껏 감상 하세요.</p>
						
						<div class="fb_sc perks">구독자 전용 업데이트</div>
						<div class="fb_sc perks">VIP 전용 창작물 제공</div>
						
						<section class="fb_cc mem_be_btns">
							<button type="button" class="w150 h35 lightBlue" onclick="location.href='mem_pay.html';"
									th:onclick="|location.href='@{/subs/mem/pay(key=${session.session})}'|">가입하기</button>
						</section>
					</article>
				</section>
			</article>

		</section>
	</article>
	
	<!-- FOOTER -->

</body>
</th:block>
</html>