<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}">
	<?php include "static/inc/head.html"; ?>
	<th:block layout:fragment="content">
<body>
	<?php include "static/inc/topper.html"; ?>

	<article class="body_container">
		<section class="contents_container">
			<div class="fb_cc container_top_title">
				<img src="/img/logo_icon.png" /> &nbsp;&nbsp; <b>Join</b>&nbsp;Members
			</div>
			<div class="fb_c_cc small_box_container">
				<h1 class="fb_cc">18</h1>
				<h4>회원가입은 만 18세 이상만 가능합니다.</h4>
				<button type="button" class="h35 default" onclick="location.href='/members/new'">성인인증</button> <br />
			</div>
		</section>
	</article>
	
	<!-- FOOTER -->
	<?php include_once "static/inc/footer.html"; ?>
</body>
	</th:block>
</html>