<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/subs_layout}">

<th:block layout:fragment="content">
<body>
	<article class="body_container">
		<!-- SIDE MENU 로그인 하지 않으면 보여지지 않는다. -->
		<?php include "static/inc/side.html"; ?>
		
		<section class="contents_container">
			<div class="fb_cc container_top_title">
				<img src="/img/icon_channel.png" /> &nbsp;&nbsp; <b>구독채널</b>
			</div>

			<div class="channel_btn_box">
				<button type="button" class="w150 h35 lightBlue">전체 00</button>
				<button type="button" class="w150 h35 outline">구독중 00</button>
				<button type="button" class="w150 h35 outline">구독만료 00</button>
			</div>

			<article class="fb_cs contents_box" style="flex-wrap: wrap; margin-bottom: 50px;">
				<!-- 채널목록 -->
				<section class="channel_box" onclick="location.href='creator_page.html';"
						 th:onclick="|location.href='@{/subs/creatorpage(key=${session.session})}'|">
					<div class="channel_pic">
						<div><img src="/img/sample_bg.jpg" /></div>
						<figure class="profile"><img src="/img/sample_img.jpg" /></figure>
					</div>
					
					<p>Creator Page Name</p>
					
					<div class="channel_cont">
						<span>10<br>이미지</span>
						<span>10<br>동영상</span>
						<span>10<br>링크</span>
					</div>
					
					<p><span>구독만료</span></p>
					
					<div class="fb_c_ss channel_info">
						<div>
							<div class="fb_ss"><span>등급 :</span><span>공식 구독자(Official)</span></div>
							<div class="fb_ss"><span>가격 :</span><span>₩10,000 / 월</span></div>
							<div class="fb_ss"><span>구독만료일 :</span><span>2022-12-25</span></div>
						</div>
					</div>
					<div class="channel_btns">
						<button type="button" class="w100 h35 cancel">구독취소</button>
						<button type="button" class="w100 h35 lightBlue">재구독</button>
					</div>
				</section>

				<!-- 채널목록 -->
				<section class="channel_box" onclick="location.href='creator_page.html';"
						 th:onclick="|location.href='@{/subs/creatorpage(key=${session.session})}'|">
					<div class="channel_pic">
						<div><img src="/img/sample_bg.jpg" /></div>
						<figure class="profile"><img src="/img/sample_img.jpg" /></figure>
					</div>
					
					<p>Creator Page Name</p>
					
					<div class="channel_cont">
						<span>10<br>이미지</span>
						<span>10<br>동영상</span>
						<span>10<br>링크</span>
					</div>
					
					<p><span class="channel_subscr">구독중</span></p>
					
					<div class="fb_c_ss channel_info">
						<div>
							<div class="fb_ss"><span>등급 :</span><span>공식 구독자(Official)</span></div>
							<div class="fb_ss"><span>가격 :</span><span>₩10,000 / 월</span></div>
							<div class="fb_ss"><span>구독만료일 :</span><span>2022-12-25</span></div>
						</div>
					</div>
					<div class="channel_btns">
						<button type="button" class="w100 h35 cancel">구독취소</button>
					</div>
				</section>
			</article>
		</section>
	</article>
	
	<!-- FOOTER -->

</body>
</th:block>
</html>


<script>
$(function(){
	//상단 채널상태 버튼 클릭시 모양 변화을 위한 스크립트 
	$(".channel_btn_box button").on("click", function() {
		$(".channel_btn_box button").removeClass("lightBlue");
		$(".channel_btn_box button").addClass("outline");
		if($(this).hasClass("outline")) {
			$(this).removeClass("outline");
			$(this).addClass("lightBlue");
		}
	});

	//구독취소 재구독 버튼 클릭시 이벤트 버블링을 막는 스크립트
	//부모 요소에 있는 onclick 이벤트가 동작되는 것을 방지
	$(".channel_btns").on("click", function(e) {
		e.stopPropagation();
	});
});
</script>