<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/subs_layout}">
<?php include "static/inc/head.html"; ?>
<th:block layout:fragment="content">
	<body>

	<?php include "static/inc/topper.html"; ?>

	<article class="body_container">
		<!-- SIDE MENU 로그인 하지 않으면 보여지지 않는다. -->
		<?php include "static/inc/side.html"; ?>

		<section class="contents_container">
			<div class="fb_cc container_top_title">
				<img src="/img/icon_mypage.png" /> &nbsp;&nbsp; <b>마이페이지</b>
			</div>

			<article class="aritcle_border_container" style="margin-bottom:100px;">
				<!-- 프로필 사진 -->
				<section class="mypage_section">
					<div>
						<section class="fb_sc"><img src="/img/icon_mypage.png" />프로필 사진</section>
						<section class="fb_sc">
							<figure class="fb_cc profile">
								<span>S</span>
							</figure>
							<input type="file" id="profile_pic" />
							<div class="fb_cc modifies_btns">
								<button type="button" id="profile_pic_del" class="fb_cc"><img src="/img/icon_del_opacity.png" /></button>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<button type="button" id="profile_pic_modify" class="fb_cc"><img src="/img/icon_write_opacity.png" /></button>
							</div>
							<div class="profile_pic_btns">
								<button type="button" id="profile_pic_accept" class="w80 h30 defaultLight">적용</button>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<button type="button" id="profile_pic_cancel" class="w80 h30 cancel">취소</button>
							</div>
						</section>
					</div>
				</section>

				<!-- 활동상태 -->
				<section class="mypage_section">
					<div>
						<section class="fb_sc"><img src="/img/icon_mypage.png" />활동상태</section>
						<section class="fb_sc">
							<div class="context">
								<div th:if="${model.getMiKind() == 'V'}">구독자</div>
								<div th:if="${model.getMiKind() == 'C'}">크리에이터</div>
							</div>
							<div class="fb_cc modifies_btns">
								<button type="button" class="fb_cc"><img src="/img/icon_write_opacity.png" /></button>
							</div>
							<img src="/img/arrow_m.png" />
						</section>
					</div>
					<div class="opt">
						<span>크리에이터로 전환하기</span>
						<p>
							크리에이터가 되고 싶으신가요?<br>
							우리의 후원 시스템을 통해 당신의 팬들로부터 창작물 제작에 필요한 비용을 후원 받으세요.
						</p>
						<div>
							<button type="button" class="w80 h30 defaultLight"
									th:onclick="|location.href='@{/creator/creators/new}'|">확인</button>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<button type="button" class="w80 h30 cancel">취소</button>
						</div>
						<br />
					</div>
				</section>

				<!-- 설정닉네임 -->
				<section class="mypage_section">
					<div>
						<section class="fb_sc"><img src="/img/icon_mypage.png" />설정 닉네임</section>
						<section class="fb_sc">
							<div class="context"><span th:text="${model.getMiNick()}"></span></div>
							<div class="fb_cc modifies_btns">
								<button type="button" class="fb_cc"><img src="/img/icon_write_opacity.png" /></button>
							</div>
							<img src="/img/arrow_m.png" />
						</section>
					</div>
					<div class="opt">
						<input th:value="${model.getMiNick()}" type="text" />
						<br /><br />
						<div>
							<button type="button" class="w80 h30 defaultLight">수정</button>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<button type="button" class="w80 h30 cancel">취소</button>
						</div>
						<br />
					</div>
				</section>

				<!-- 계정이메일 -->
				<section class="mypage_section">
					<div>
						<section class="fb_sc"><img src="/img/icon_mypage.png" />계정 이메일</section>
						<section class="fb_sc">
							<div class="context">
								<span th:text="${model.getMiId()}"></span>
							</div>
							<div class="fb_cc modifies_btns">
								<button type="button" class="fb_cc"><img src="/img/icon_write_opacity.png" /></button>
							</div>
							<img src="/img/arrow_m.png" />
						</section>
					</div>
					<div class="opt">
						<!-- 직접 입력한 이메일 계정 사용시 나타난다. -->
						<span>현재 직접 입력한 이메일 계정 사용중</span>
						<br /><br />
						<input type="password" placeholder="현재비밀번호 입력" />
						<br />
						<input type="password" placeholder="새 비밀번호 입력" />
						<br />
						<input type="password" placeholder="새 비밀번호 재입력" />
						<br /><br />
						<div>
							<button type="button" class="w150 h30 defaultLight">비밀번호 업데이트</button>
						</div>

						<!-- 네이버 계정으로 사용시 나타난다 -->
						<div class="fb_sc"><img src="/img/social_logo_n.png" /> &nbsp;&nbsp;&nbsp; <span class="gray">네이버 계정 사용중</span></div>

						<!-- 카카오 계정으로 사용시 나타난다 -->
						<div class="fb_sc"><img src="/img/social_logo_k.png" /> &nbsp;&nbsp;&nbsp; <span class="gray">카카오 계정 사용중</span></div>

						<!-- 트위터 계정으로 사용시 나타난다 -->
						<div class="fb_sc"><img src="/img/social_logo_t.png" /> &nbsp;&nbsp;&nbsp; <span class="gray">트위터 계정 사용중</span></div>

						<!-- 구글 계정으로 사용시 나타난다 -->
						<div class="fb_sc"><img src="/img/social_logo_g.png" /> &nbsp;&nbsp;&nbsp; <span class="gray">구글 계정 사용중</span></div>
						<br />
					</div>
				</section>

			</article>
		</section>
	</article>

	<!-- FOOTER -->
	<?php include_once "static/inc/footer.html"; ?>
	</body>
</th:block>
</html>

<script>
	$(function(){

		/*정보 수정 아이콘 클릭 - 프로필사진은 제외*/
		$(".mypage_section:not(:first-of-type) .modifies_btns button").on("click", function() {
			$(this).parent().hide();
			$(this).parent().next().show();
			$(this).parents(".mypage_section").children(".opt").css("height", "auto");
			$(this).parents(".mypage_section").children(".opt").slideDown();
		});

		/*수정 화면 내에 있는 취소 버튼클릭*/
		$(".cancel").on("click", function() {
			$(this).parents(".opt").slideUp();
			$(this).parents(".mypage_section").find(".modifies_btns").show();
			$(this).parents(".mypage_section").find("img[src*='arrow_m']").hide();
		});

		/*수정 화면시 나타나는 우측 끝 화살표 아이콘 클릭*/
		$("img[src*='arrow_m']").on("click", function() {
			$(this).hide();
			$(this).siblings(".modifies_btns").show();
			$(this).parents(".mypage_section").children(".opt").slideUp();
		});

		/*프로필사진 수정 클릭*/
		$("#profile_pic_modify").on("click", function() {
			$("#profile_pic").trigger("click");
		});
		$("#profile_pic").on("change", function() {
			var targetID = $(this).attr("id");
			if(this.files && this.files[0]) {
				var reader = new FileReader();
				reader.onload = function(e) {
					var tag_result = "<img style='position:absolute; top:0; left:0; width:100%; height:100%; object-fit:cover' src='" + e.target.result + "' />"
					/*$("#" + targetID).siblings("figure").empty();*/
					$("#" + targetID).siblings("figure").append(tag_result);
					$("#" + targetID).siblings("figure").children("span").hide();
					$("#" + targetID).siblings(".modifies_btns").hide();
					$("#" + targetID).siblings(".profile_pic_btns").show();
				}
				reader.readAsDataURL(this.files[0]);
			}
		});

		/*프로필사진 삭제 클릭*/
		$("#profile_pic_del").on("click", function() {
			if(confirm('현재 프로필 사진을 삭제 하시겠습니까?')) {
				$(".mypage_section figure img").remove();
				$(".mypage_section figure span").show();
				$(this).hide();
			}
		});

		/*프로필 사진 적용*/
		$("#profile_pic_accept").on("click", function() {
			$(".mypage_section figure span").hide();
			$("#profile_pic").siblings(".modifies_btns").show();
			$("#profile_pic").siblings(".profile_pic_btns").hide();
			check_profile_pic();
		});

		/*프로필 사진 취소*/
		$("#profile_pic_cancel").on("click", function() {
			$(".mypage_section figure img").remove();
			$(".mypage_section figure span").show();
			$("#profile_pic").siblings(".modifies_btns").show();
			$("#profile_pic").siblings(".profile_pic_btns").hide();
			check_profile_pic();
		});

		/*프로필 사진이 있는지 확인*/
		function check_profile_pic() {
			if($(".mypage_section figure img").length) {
				$("#profile_pic_del").show();
			}
			else {
				$("#profile_pic_del").hide();
			}
		}
		check_profile_pic();
	});
</script>