<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/subs_layout}">

<th:block layout:fragment="content">
<body>
	<article class="body_container">
		<!-- SIDE MENU 로그인 하지 않으면 보여지지 않는다. -->
		<?php include "static/inc/side.html"; ?>
		
		<section class="contents_container">
			<div class="fb_cc container_top_title">
				<img src="/img/icon_message.png" /> &nbsp;&nbsp; <b>메시지</b>
			</div>

			<article class="fb_c_sc aritcle_border_container" style="margin-bottom: 50px;">
				<div class="message_select_explain">
					대화 메시지를 보낼 크리에이터를 선택해 주세요
					<button type="button" id="btn_check" class="w100 h30 defaultLight" onclick="location.href='subscr_message_view.html';"
							th:onclick="|location.href='@{/subs/message/view(key=${session.session})}'|" disabled="disabled">확인</button>
				</div>

				<input type="text" class="sech2" placeholder="메시지 상대 검색" />

				<div>
					<!-- 크리에이터 목록 -->
					<section class="fb_sc" th:each="creator : ${creatorList}">
						<figure class="fb_cc profile"><img src="/img/sample_img.jpg" /></figure>
						<th:block th:text="${creator.getCiPageNm()}">Creator Nick Name OR Page Name</th:block>
						<div class="fb_cc radio_clone"><img src="/img/icon_check.png"></div>
						<input type="radio" name="creator" />
					</section>

<!--					<section class="fb_sc">-->
<!--						<figure class="fb_cc profile"><img src="/img/sample_img.jpg" /></figure>-->
<!--						Creator Nick Name OR Page Name-->
<!--						<div class="fb_cc radio_clone"><img src="/img/icon_check.png"></div>-->
<!--						<input type="radio" name="creator" />-->
<!--					</section>-->

<!--					&lt;!&ndash; 크리에이터 목록 &ndash;&gt;-->
<!--					<section class="fb_sc">-->
<!--						<figure class="fb_cc profile"><img src="/img/sample_img.jpg" /></figure>-->
<!--						Creator Nick Name OR Page Name-->
<!--						<div class="fb_cc radio_clone"><img src="/img/icon_check.png"></div>-->
<!--						<input type="radio" name="creator" />-->
<!--					</section>-->

<!--					&lt;!&ndash; 크리에이터 목록 &ndash;&gt;-->
<!--					<section class="fb_sc">-->
<!--						<figure class="fb_cc profile"><img src="/img/sample_img.jpg" /></figure>-->
<!--						Creator Nick Name OR Page Name-->
<!--						<div class="fb_cc radio_clone"><img src="/img/icon_check.png"></div>-->
<!--						<input type="radio" name="creator" />-->
<!--					</section>-->
				</div>

			</article>
		</section>
	</article>
	
	<!-- FOOTER -->

</body>
</th:block>
</html>

<!-- 라디오 버튼의 디자인을 위한 스크립트
     라디오 버튼은 숨겨두고 div가 라디오 버튼인척 한다 -->
<script>
	$(function() {
		$(".radio_clone").on("click", function() {
			$(".radio_clone").css({"background-color":"white", "border":"1px solid #bac6cc"});
			$(this).css({"background-color":"#00b0f0", "border":"0"});
			$(this).siblings("input[type='radio']").trigger("click");
			$("#btn_check").attr("disabled", false);
		});
	});
</script>