<!DOCTYPE html>
<html lagn="ko"
	  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/subs_layout}">

<th:block layout:fragment="content">
	<?php include "/inc/head.html"; ?>
	<body>
	<?php include "/inc/topper.html"; ?>

	<article class="body_container">
		<!-- SIDE MENU 로그인 하지 않으면 보여지지 않는다. -->
		<?php include "/inc/side.html"; ?>

		<section class="contents_container">
			<h3 class="fb_sc cMain_header"><span><th:block th:text="${member.getMiNick()}"></th:block></span> &nbsp; 님 안녕하세요</h3>

			<div class="fb_cc cMain_income">
				<section>
					<span class="fb_cs">월수입</span>
					<span class="fb_ce">₩ 12,345,678</span>
				</section>
				<section>
					<span class="fb_cs">청구시도 금액</span>
					<span class="fb_ce">₩ 12,345,678</span>
				</section>
				<section>
					<span class="fb_cs">결제거부</span>
					<span class="fb_ce negative">₩ 12,345,678</span>
				</section>
				<section>
					<span class="fb_cs">총 환불금액</span>
					<span class="fb_ce negative">₩ 12,345,678</span>
				</section>
				<section>
					<span class="fb_cs">결제 수수료</span>
					<span class="fb_ce">₩ 12,345,678</span>
				</section>
				<section>
					<span class="fb_cs">플랫폼 수수료</span>
					<span class="fb_ce">₩ 12,345,678</span>
				</section>
			</div>

			<div class="fb_bs">
				<section class="cMain_pannel">
					<div>
						<h4>Summary</h4>
						<div class="fb_cc summary">
							<section>
								<div class="fb_cc"><img src="/img/icon_subscr.png" />구독자</div>
								<div>3,456</div>
								<div><a th:href="@{/creators/subscr/creator_subscr_mng(key=${session.session})}">구독자 관리 ></a></div>
							</section>
							<section>
								<div class="fb_cc"><img src="/img/icon_income.png" />수입</div>
								<div>₩ 12,345,678</div>
								<div><a th:href="@{/creators/income/creator_income_total(key=${session.session})}">수입 관리 ></a></div>
							</section>
						</div>
					</div>

					<div>
						<h4>Post Write</h4>
						<div class="postWrite">
							<div class="fb_cc">포스트 작성</div>
							<p>
								팬들이 어떤 멤버십 혜택을 누릴 수 있는지 알 수 있도록<br />
								크리에이터의 개성을 담은 포스트를 작성해 보세요.
							</p>
							<div class="fb_vs">
								<section th:onclick="|location.href='@{/creators/post/creator_post_make_img(key=${session.session})}'|">
									<div><img src="/img/icon_post_img.png" /></div>
									<div>이미지</div>
								</section>
								<section th:onclick="|location.href='@{/creators/post/creator_post_make_mov(key=${session.session})}'|">
									<div><img src="/img/icon_post_video.png" /></div>
									<div>비디오</div>
								</section>
								<section th:onclick="|location.href='@{/creators/post/creator_post_make_link(key=${session.session})}'|">
									<div><img src="/img/icon_post_link.png" /></div>
									<div>링크</div>
								</section>
							</div>
						</div>
					</div>

					<div>
						<h4>SNS Link</h4>
						<div class="snsLink">
							<div class="fb_cc">SNS 프로필에 링크 추가</div>
							<p>최근 SNS 포스트 10건에 이 페이지 링크를 추가해 업데이트하세요.</p>
							<div class="fb_bc"><input type="text" value="구독자가 보게될 화면 링크" /><span>링크복사</span></div>
						</div>
					</div>
				</section>

				<section class="cMain_mypost">
					<h4>My Post</h4>
					<div>
						<!--total 개수 긁어오기 필요, length로 하면 될거 같음-->
						<section class="fb_bc"><span>Total : 0 개</span><a href="./page/creator_page" class="fb_cc">more</a></section>

						<!-- 포스트 목록 --><!--포스트 반복문 구성 필요 - th:each-->
						<article class="fb_sc" onclick="location.href='./page/creator_page_detail';">
							<figure><img src="/img/sample_post_img.jpg" /></figure>
							<div>
								<!--제목, 일자, 좋아요/댓글 개수 긁어오기 필요-->
								<h5>포스트 제목</h5>
								<p>2022년 12월 15일 오후 08:09</p>
								<div class="fb_sc likeArea">
									<div class="fb_sc"><img src="/img/icon_heart.png" />좋아요 0 개</div>
									<div class="fb_sc"><img src="/img/icon_reply.png" />댓글 0 개</div>
								</div>
							</div>
						</article>

						<!-- 포스트 목록 -->
						<article class="fb_sc" onclick="location.href='creator_page_detail.html';">
							<figure><img src="/img/sample_post_img.jpg" /></figure>
							<div>
								<h5>포스트 제목</h5>
								<p>2022년 12월 15일 오후 08:09</p>
								<div class="fb_sc likeArea">
									<div class="fb_sc"><img src="/img/icon_heart.png" />좋아요 0 개</div>
									<div class="fb_sc"><img src="/img/icon_reply.png" />댓글 0 개</div>
								</div>
							</div>
						</article>

						<!-- 포스트 목록 -->
						<article class="fb_sc" onclick="location.href='creator_page_detail.html';">
							<figure><img src="/img/sample_post_img.jpg" /></figure>
							<div>
								<h5>포스트 제목</h5>
								<p>2022년 12월 15일 오후 08:09</p>
								<div class="fb_sc likeArea">
									<div class="fb_sc"><img src="/img/icon_heart.png" />좋아요 0 개</div>
									<div class="fb_sc"><img src="/img/icon_reply.png" />댓글 0 개</div>
								</div>
							</div>
						</article>

						<!-- 포스트 목록 -->
						<article class="fb_sc" onclick="location.href='creator_page_detail.html';">
							<figure><img src="/img/sample_post_img.jpg" /></figure>
							<div>
								<h5>포스트 제목</h5>
								<p>2022년 12월 15일 오후 08:09</p>
								<div class="fb_sc likeArea">
									<div class="fb_sc"><img src="/img/icon_heart.png" />좋아요 0 개</div>
									<div class="fb_sc"><img src="/img/icon_reply.png" />댓글 0 개</div>
								</div>
							</div>
						</article>

						<!-- 포스트 목록 -->
						<article class="fb_sc" onclick="location.href='creator_page_detail.html';">
							<figure><img src="/img/sample_post_img.jpg" /></figure>
							<div>
								<h5>포스트 제목</h5>
								<p>2022년 12월 15일 오후 08:09</p>
								<div class="fb_sc likeArea">
									<div class="fb_sc"><img src="/img/icon_heart.png" />좋아요 0 개</div>
									<div class="fb_sc"><img src="/img/icon_reply.png" />댓글 0 개</div>
								</div>
							</div>
						</article>

					</div>
				</section>
			</div>
		</section>
	</article>

	<!-- FOOTER -->
	<?php include_once "/inc/footer.html"; ?>
	</body>
</th:block>
</html>

<script>
	$(function() {
		/*링크복사를 위한 스크립트*/
		$(".snsLink span").on("click", function() {
			$(".snsLink input").select();
			var copyLink = document.execCommand("copy");
			if(copyLink) {
				alert("링크가 복사되었습니다.");
			}
		});
	});
</script>
