<!DOCTYPE html>
<html lagn="ko"
	  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/subs_layout}">

<th:block layout:fragment="content">
	<?php include "/inc/head.html"; ?>
<body>
	<?php include "/inc/topper.html"; ?>

	<article class="body_container">
		<!-- SIDE MENU 로그인 하지 않으면 보여지지 않는다. -->
		<?php include "/inc/side.html"; ?>
		
		<section class="contents_container">
			<div class="fb_cc container_top_title">
				<img src="/img/icon_alarm.png" /> &nbsp;&nbsp; <b>알림</b>
			</div>

			<!-- 알림리스트 -->
			<article class="aritcle_border_container">
				<section class="alarm">
					<div class="fb_sc">
						<img src="/img/icon_subscr.png" />
						<span>총 구독자수 00 명</span>
						<h5>2022년 12월 25일</h5>
					</div>
					<div class="fb_sc">
						<figure class="fb_cc profile"><span>S</span></figure>
						<span>nickName 님이 구독자로 등록하였습니다.</span>
					</div>
				</section>
			</article>
			<br /><br />

			<!-- 알림리스트 -->
			<article class="aritcle_border_container">
				<section class="alarm">
					<div class="fb_sc">
						<img src="/img/icon_subscr.png" />
						<span>총 구독자수 00 명</span>
						<h5>2022년 12월 25일</h5>
					</div>
					<div class="fb_sc">
						<figure class="fb_cc profile"><span>S</span></figure>
						<span>nickName 님이 구독 연장을 하였습니다.</span>
					</div>
				</section>
			</article>
			<br /><br />

			<!-- 알림리스트 -->
			<article class="aritcle_border_container">
				<section class="alarm">
					<div class="fb_sc">
						<img src="/img/icon_heart.png" />
						<span>포스트에 좋아요 00 개</span>
						<h5>2022년 12월 25일</h5>
					</div>
					<div class="fb_sc">
						<figure class="fb_cc profile"><span>S</span></figure>
						<span>nickName 님이 <a href="">postTitle</a> 포스트를 좋아합니다.</span>
						<img src="/img/sample_post_img.jpg" />
					</div>
				</section>
			</article>
			<br /><br />

			<!-- 알림리스트 -->
			<article class="aritcle_border_container">
				<section class="alarm">
					<div class="fb_sc">
						<img src="/img/icon_reply.png" />
						<span>포스트에 댓글 00 개</span>
						<h5>2022년 12월 25일</h5>
					</div>
					<div class="fb_sc">
						<figure class="fb_cc profile"><span>S</span></figure>
						<span>nickName 님이 <a href="">postTitle</a> 포스트 댓글을 달았습니다.</span>
						<img src="/img/sample_post_img.jpg" />
					</div>
				</section>
			</article>
			<br /><br />

			<!-- 알림리스트 -->
			<article class="aritcle_border_container">
				<section class="alarm">
					<div class="fb_sc">
						<img src="/img/icon_reply.png" />
						<span>포스트에 답변글 00 개</span>
						<h5>2022년 12월 25일</h5>
					</div>
					<div class="fb_sc">
						<figure class="fb_cc profile"><span>S</span></figure>
						<span>nickName 님이 <a href="">postTitle</a> 포스트 댓글에 답변하였습니다.</span>
						<img src="/img/sample_post_img.jpg" />
					</div>
				</section>
			</article>
			<br /><br />

			<div class="fb_cc container_bottom_btn">
				<button type="button" class="w200 h35 lightBlue">더보기</button>
			</div>

		</section>
	</article>
	
	<!-- FOOTER -->
	<?php include_once "/inc/footer.html"; ?>
</body>
</th:block>
</html>
