<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}">
<?php include "static/inc/head.html"; ?>
<th:block layout:fragment="content">
	<?php include "/inc/head.html"; ?>
<body>
	<?php include "/inc/topper.html"; ?>

	<article class="body_container">
		<section class="contents_container">
			<div class="fb_cc container_top_title">
				<img src="/img/logo_icon.png" /> &nbsp;&nbsp; <b>Regist</b>&nbsp;Creator
			</div>
			<div class="fb_cc container_top_explain">
				<span><b>Step 2 :</b></span>수익을 지급받을 계좌 정보 및 구독자의 등급을 설정해 주세요
			</div>
			<form action="/creators/new2" method="post">
			<article class="fb_sc aritcle_border_container">
				<section class="fb_sc reg">
					<div><img src="/img/icon_check.png" class="checker" /><b>수입 지급 계좌 등록</b></div>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<button type="button" id="regist_account" class="default w150 h35">계좌등록</button>
				</section>
			</article>

			<br /><br />

			<article class="aritcle_container">
				<div class="txt_align_center">
					<b>구독자 등급 설정</b>
					<br>
					<span>(구독자 등급은 총 10개 까지 설정 할 수 있습니다)</span>
				</div>
				
				<section class="tier_area">
					<!--------------------------------------------------등급 목록들----------------------------------------------------->

					<!-- 등급목록 -->
					<article class="tier">
						<img src="/img/icon_level_top.png" />
						<div class="perksName">무료 구독자 (Free)</div>
						<div class="perksPrice"><span>₩ 0</span> / 월</div>
						
						<p>기본 사진을 무료로 마음껏 감상 하세요.</p>
						
						<div class="fb_sc perks">구독자 전용 업데이트</div>
						<div class="fb_sc perks">무료 구독자 전용 창작물 제공</div>
						
						<section class="fb_cc modifies_btns">
							<button type="button" class="fb_cc"><img src="/img/icon_write_opacity.png" /></button>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<button type="button" class="fb_cc"><img src="/img/icon_del_opacity.png" /></button>
						</section>
					</article>

					<!-- 등급목록 -->
					<article class="tier">
						<img src="/img/icon_level_top.png" />
						<div class="perksName">공식 구독자 (Official)</div>
						<div class="perksPrice"><span>₩ 10,000</span> / 월</div>
						
						<p>기본 사진을 무료로 마음껏 감상 하세요.</p>
						
						<div class="fb_sc perks">구독자 전용 업데이트</div>
						<div class="fb_sc perks">공식 구독자 전용 창작물 제공</div>
						
						<section class="fb_cc modifies_btns">
							<button type="button" class="fb_cc"><img src="/img/icon_write_opacity.png" /></button>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<button type="button" class="fb_cc"><img src="/img/icon_del_opacity.png" /></button>
						</section>
					</article>

					<!-- 등급목록 -->
					<article class="tier">
						<img src="/img/icon_level_top.png" />
						<div class="perksName">VIP 구독자 (VIP)</div>
						<div class="perksPrice"><span>₩ 50,000</span> / 월</div>
						
						<p>기본 사진을 무료로 마음껏 감상 하세요. 기본 사진을 무료로 마음껏 감상 하세요. 기본 사진을 무료로 마음껏 감상 하세요.</p>
						
						<div class="fb_sc perks">구독자 전용 업데이트 및 기타 전용 업데이트 제공 기능</div>
						<div class="fb_sc perks">VIP 전용 창작물 제공</div>
						
						<section class="fb_cc modifies_btns">
							<button type="button" class="fb_cc"><img src="/img/icon_write_opacity.png" /></button>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<button type="button" class="fb_cc"><img src="/img/icon_del_opacity.png" /></button>
						</section>
					</article>

					<!-- 등급목록 -->
					<article class="tier">
						<img src="/img/icon_level_top.png" />
						<div class="perksName">VIP 구독자 (VIP)</div>
						<div class="perksPrice"><span>₩ 50,000</span> / 월</div>
						
						<p>기본 사진을 무료로 마음껏 감상 하세요.</p>
						
						<div class="fb_sc perks">구독자 전용 업데이트</div>
						<div class="fb_sc perks">VIP 전용 창작물 제공</div>
						
						<section class="fb_cc modifies_btns">
							<button type="button" class="fb_cc"><img src="/img/icon_write_opacity.png" /></button>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<button type="button" class="fb_cc"><img src="/img/icon_del_opacity.png" /></button>
						</section>
					</article>

					<!--------------------------------------------------등급 목록들----------------------------------------------------->
				</section>
				
				<section class="fb_cs tier_add">
					<button type="button" class="w150 h40 graybox">+ 등급추가</button>
				</section>
			</article>

			<br />

			<div class="fb_cc container_bottom_btn"><button class="default w200 h40" th:href="@{/creators/creator_main(key=${session.session})}">작성완료</button></div>
			</form>
		</section>

	</article>

	<!-- FOOTER -->
	<?php include_once "/inc/footer.html"; ?>




	<!-- 회원등급 등록화면 -->
	<div id="tierInput" class="fb_cs tier_operate_back">
		<div>
			<div class="fb_cc close_btn"><img src="/img/icon_x_close.png" /></div>
			<article class="aritcle_container">
				<div class="fb_cc container_top_title">
					<img src="/img/logo_icon.png" /> &nbsp;&nbsp; <b>구독자</b>&nbsp;등급입력
				</div>

				<section class="fb_bc reg">
					<div class="fb_sc w30"><img src="/img/icon_check.png" class="checker" /><b>등급명</b></div>
					<div class="w60"><input type="text" class="inpModule"></div>
				</section>
				
				<section class="fb_bc reg">
					<div class="fb_sc w30"><img src="/img/icon_check.png" class="checker" /><b>등급가격</b></div>
					<div class="fb_sc w60"><input type="text" class="inpModule"></div>
				</section>
				
				<section class="fb_bs reg">
					<div class="fb_sc w30">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>등급설명</b></div>
					<div class="w60"><textarea></textarea></div>
				</section>
				
				<section class="fb_bs reg">
					<div class="fb_sc w30"><img src="/img/icon_check.png" class="checker" /><b>등급특전</b></div>
					<div class="fb_sc w60 perk_inp_area">
						<div>
							<input type="text" class="inpModule">
							<div class="fb_cc close_btn"><img src="/img/icon_x_close.png" /></div>
						</div>
						<div>
							<input type="text" class="inpModule">
							<div class="fb_cc close_btn"><img src="/img/icon_x_close.png" /></div>
						</div>
					</div>
				</section>
				
				<section class="perk_add">
					<div class="fb_es">
						<button type="button" class="w100 h35 default">+ 특전추가</button>
					</div>
				</section>
				
				<div class="fb_cc container_bottom_btn">
					<button type="button" class="default w150 h40" disabled>등급생성</button>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<button type="button" class="cancel w150 h40">취소</button>
				</div>
			</article>
		</div>
	</div>

	<!-- 회원등급 수정화면 -->
	<div id="tierModify" class="fb_cs tier_operate_back">
		<div>
			<div class="fb_cc close_btn"><img src="/img/icon_x_close.png" /></div>
			<article class="aritcle_container">
				<div class="fb_cc container_top_title">
					<img src="/img/logo_icon.png" /> &nbsp;&nbsp; <b>구독자</b>&nbsp;등급수정
				</div>

				<section class="fb_bc reg">
					<div class="fb_sc w30"><img src="/img/icon_check.png" class="checker" /><b>등급명</b></div>
					<div class="w60"><input type="text" class="inpModule" value="공식 구독자 (Official)"></div>
				</section>
				
				<section class="fb_bc reg">
					<div class="fb_sc w30"><img src="/img/icon_check.png" class="checker" /><b>등급가격</b></div>
					<div class="fb_sc w60"><input type="text" class="inpModule" value="10000"></div>
				</section>
				
				<section class="fb_bs reg">
					<div class="fb_sc w30">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>등급설명</b></div>
					<div class="w60"><textarea>기본 사진을 무료로 마음껏 감상 하세요.</textarea></div>
				</section>
				
				<section class="fb_bs reg">
					<div class="fb_sc w30"><img src="/img/icon_check.png" class="checker" /><b>등급특전</b></div>
					<div class="fb_sc w60 perk_inp_area">
						<div>
							<input type="text" class="inpModule" value="구독자 전용 업데이트">
							<div class="fb_cc close_btn"><img src="/img/icon_x_close.png" /></div>
						</div>
						<div>
							<input type="text" class="inpModule" value="무료 구독자 전용 창작물 제공">
							<div class="fb_cc close_btn"><img src="/img/icon_x_close.png" /></div>
						</div>
					</div>
				</section>
				
				<section class="perk_add">
					<div class="fb_es">
						<button type="button" class="w100 h35 default">+ 특전추가</button>
					</div>
				</section>
				
				<div class="fb_cc container_bottom_btn">
					<button type="button" class="default w150 h40" disabled>수정하기</button>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<button type="button" class="cancel w150 h40">취소</button>
				</div>
			</article>
		</div>
	</div>

</body>
</th:block>
</html>

<script>
	$(function() {
		/*계좌등록 버튼*/
		$("#regist_account").on("click", function() {
			alert("계좌등록");
			$(this).siblings("div").children(".checker").css("filter", "saturate(100%)");
			$(".container_bottom_btn > button").prop("disabled", false);
		});

		/*등급추가*/
		$(".tier_add > button").on("click", function() {
			$(".contents_container").hide();
			$("#tierInput").show();
		});

		/*등급수정*/
		$(".tier > .modifies_btns > button:nth-of-type(1)").on("click", function() {
			$(".contents_container").hide();
			$("#tierModify").show();
			for(let i = 0; i < $("#tierModify .inpModule").length; i++) {
				var val_result = $("#tierModify .inpModule").eq(i).val().trim();
				if(val_result != "") { $("#tierModify .inpModule").eq(i).parents(".reg").find(".checker").css("filter", "saturate(100%)"); }
			}
			check_val_all("#tierModify");
		});

		/*등급삭제*/
		$(".tier > .modifies_btns > button:nth-of-type(2)").on("click", function() {
			confirm("현 등급을 삭제 하시겠습니까?")
		});

		/*등급 관리화면 닫기*/
		$("#tierInput > div > .close_btn, #tierModify > div > .close_btn, .container_bottom_btn > button").on("click", function() {
			$("#tierInput .inpModule").val("");
			$("#tierInput textarea").val("");
			$(".reg").find(".checker").css("filter", "saturate(0%) brightness(1.6)");
			$("#tierInput").hide();
			$("#tierModify").hide();
			$(".contents_container").show();
		});

		/*특전 추가*/
		$(".perk_add button").on("click", function() {
			var elements = '<div><input type="text" class="inpModule"><div class="fb_cc close_btn"><img src="/img/icon_x_close.png" /></div></div>';
			$(".perk_inp_area").append(elements);
		});

		/*특전 삭제*/
		$(document).on("click", ".perk_inp_area .close_btn", function() {
			inpLen = $(this).parents(".perk_inp_area").children("div").length;
			if(inpLen > 1) {
				$(this).parent().remove();
			}
		});

		/*등급 입력란의 내용 입력 확인*/
		$(document).on("propertychange paste input", ".inpModule" , function() {
			trg = "#" + $(this).parents(".reg").parent().parent().parent().attr("id");
			var val_result = $(this).val();
			if(typeof val_result != "undefined" && val_result != null && val_result != "") {
				$(this).parents(".reg").find(".checker").css("filter", "saturate(100%)");
				check_val_all(trg);
			} 
			else {
				$(this).parents(".reg").find(".checker").css("filter", "saturate(0%) brightness(1.6)");
				$(trg + " .container_bottom_btn > button:nth-of-type(1").prop("disabled", true);
			}
		});

		function check_val_all(trg) {
			for(let i = 0; i < $(trg + " .inpModule").length; i++) {
				var val_result = $(trg + " .inpModule").eq(i).val().trim();
				console.log(val_result);
				if(val_result == "") { return false; }
			}
			$(trg + " .container_bottom_btn > button").prop("disabled", false);
		}
	});
</script>
