<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<!--headerFragment 선언-->
<th:block th:fragment="headFragment">




	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=1.5, minimum-scale=1.0, target-densitydpi=device-dpi">
	<link th:href="@{/fontSrc/myfonts.css}" rel="stylesheet" type="text/css" >
	<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" >
	<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
	<script th:src="@{/js/script.js}"></script>
	<script th:src="@{/js/hls/dist/hls.js}"></script> <!-- hls player 추가 -->
	<title>LoveFans</title>

</th:block>
</html>