<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<!--Fragment 선언-->
<th:block th:fragment="menus_creatorFragment">
	<div class="fb_bc menu_title">
		<p><span>Creator</span>&nbsp;Menus &nbsp;</p>
		<img src="/img/arrow.png" />
	</div>

	<ul class="menu_group">
		<li>
			<a href="#" th:href="@{/creators/creator_main(key=${session.session})}">
				<img src="/img/icon_home.png" />
				<span>HOME</span>
			</a>
		</li>

		<li>
			<a href="#" th:href="@{/creators/creator_alarm(key=${session.session})}">
				<img src="/img/icon_alarm.png" />
				<span>알림</span>
				<!-- 숫자 뱃지 --><div class="fb_cc badge">3</div>
			</a>
		</li>

		<li>
			<a href="#" th:href="@{/creators/message/creator_message_c_list(key=${session.session})}">
				<img src="/img/icon_message.png" />
				<span>메세지</span>
				<!-- 숫자 뱃지 --><div class="fb_cc badge">99</div>
			</a>
		</li>

		<li>
			<a href="#" th:href="@{/creators/post/creator_post_new(key=${session.session})}">
				<img src="/img/icon_post.png" />
				<span>포스트</span>
				<img src="/img/arrow_m.png">
			</a>
			<ul>
				<li><a href="#" th:href="@{/creators/post/creator_post_new(key=${session.session})}">새로운 포스트</a></li>
				<li><a href="#" th:href="@{/creators/post/creator_post_temp(key=${session.session})}">임시보관함</a></li>
				<li><a href="#" th:href="@{/creators/post/creator_post_scheduled(key=${session.session})}">예정된 포스트</a></li>
				<li><a href="#" th:href="@{/creators/post/creator_post_ing(key=${session.session})}">게시된 포스트</a></li>
				<li><a href="#" th:href="@{/creators/post/creator_post_board(key=${session.session})}">포스트 대시보드</a></li>
			</ul>
		</li>
		<!--<li class="selected"><a href="creator_post_new">새로운 포스트</a></li>
		<li><a href="creator_post_temp">임시보관함</a></li>
		<li><a href="creator_post_scheduled">예정된 포스트</a></li>
		<li><a href="creator_post_ing">게시된 포스트</a></li>
		<li><a href="creator_post_board">포스트 대시보드</a></li>-->

		<li>
			<a href="#" th:href="@{/creators/subscr/creator_subscr_mng(key=${session.session})}">
				<img src="/img/icon_subscr.png" />
				<span>구독자</span>
				<img src="/img/arrow_m.png">
			</a>
			<ul>
				<li><a href="#" th:href="@{/creators/subscr/creator_subscr_mng(key=${session.session})}">관리도구</a></li>
				<li><a href="#" th:href="@{/creators/subscr/creator_subscr_block(key=${session.session})}">차단된 구독자</a></li>
			</ul>
		</li>
		<!--<div>
            <li><a href="creator_subscr_mng">관리도구</a></li>
            <li><a href="creator_subscr_block">차단된 구독자</a></li>
        </div>-->

		<li>
			<a href="creator_page">
				<img src="/img/icon_page.png" />
				<span>페이지</span>
				<img src="/img/arrow_m.png">
			</a>
		</li>
		<div>
			<li><a href="creator_page">페이지 보기</a></li>
			<li><a href="creator_page_modify_common">페이지 수정</a></li>
		</div>

		<li>
			<a href="creator_income_total">
				<img src="/img/icon_income.png" />
				<span>소득</span>
				<img src="/img/arrow_m.png">
			</a>
		</li>
		<div>
			<li><a href="creator_income_total">총수입금</a></li>
			<li><a href="creator_income_request">출금요청</a></li>
			<li><a href="creator_income_withdraw">출금내역</a></li>
			<li><a href="creator_income_refund">환불내역</a></li>
		</div>
	</ul>
</th:block>
</html>

<style>

</style>
