<!DOCTYPE html>
<html lagn="ko"
	  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}">
	<?php include "static/inc/head.html"; ?>

<body>

<th:block layout:fragment="content">
	<?php include "static/inc/topper.html"; ?>

	<article class="body_container">
		<div class="log_body">
			<section class="log_area">
				<article>
					<div class="log_box2">
						<p class="fb_ec"><img src="/img/logo_white.png"></p>
						<section class="fb_ec h95">당신이 응원하는 크리에이터를<br>지원하려면 지금 바로 등록하십시오.</section>
						<button type="button" class="h35 bright" onclick="location.href='members/auth';">회원가입</button>
						<div></div>
					</div>
				</article>


				<article>
					<div class="log_box1">
						<p class="fb_sc">ID&nbsp;&nbsp;<b>Login</b></p>
						<form action="/members/login" method="post">
						<section class="h95">

							<input type="text" name="mi_id" placeholder="아이디" />
							<input type="password" name="mi_pwd" placeholder="암호" />

						</section>
						<button type="submit" class="h35 default">로그인</button>
							<!-- onclick="location.href='subscr_main.html'-->
						</form>
						<div class="fb_ac">
							<span>암호가 생각나지 않으시나요?</span>
							<a href="members/forgot">암호찾기</a>
						</div>
					</div>
				</article>


				<article>
					<div class="log_box2">
						<p class="fb_ec"><img src="/img/logo_regist_creator.png"></p>
						<section class="fb_ec h150">우리의 후원 시스템을 통해<br>당신의 팬들로부터 창작물 제작에<br>필요한 비용을 후원 받으세요.</section>
						<button type="button" class="h35 bright" onclick="regist_creator();">크리에이터 등록</button>
						<script>
							function regist_creator() {
								if(confirm("러브팬스 회원 가입 후 신청 가능합니다.\n지금 바로 회원 가입 페이지로 이동 하시겠습니까?")) {
									location.href = "creators/new";
								}
							}
						</script>
					</div>
				</article>

				<article>
					<div class="log_box1">
						<p class="fb_sc">Social&nbsp;&nbsp;<b>Login</b></p>
						<section class="fb_c_ac h185">
							<button type="button" class="fb_sc h35" onclick=""><img src="/img/social_logo_n.png" /> 네이버 로그인</button>
							<button type="button" class="fb_sc h35" onclick=""><img src="/img/social_logo_k.png" />카카오 로그인</button>
							<button type="button" class="fb_sc h35" onclick=""><img src="/img/social_logo_t.png" />트위터 로그인</button>
							<button type="button" class="fb_sc h35" onclick=""><img src="/img/social_logo_g.png" />구글 로그인</button>
						</section>
					</div>
				</article>
			</section>
		</div>
	</article>
	
	<!-- FOOTER -->
	<?php include_once "static/inc/footer.html"; ?>
</th:block>
</body>
</html>

<script th:inline="javascript">

	/*<![CDATA[*/
	var message = [[${message}]];
	if (message != null){

		alert(message);
	}



	/*]]>*/

</script>