<!DOCTYPE html>
<html lagn="ko"
	  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/subs_layout}">

<th:block layout:fragment="content">
	<?php include "/inc/head"; ?>
<body>
	<?php include "/inc/topper"; ?>

	<article class="body_container">
		<!-- SIDE MENU 로그인 하지 않으면 보여지지 않는다. -->
		<?php include "/inc/side"; ?>
		
		<section class="contents_container">
			<div class="fb_cc container_top_title">
				<img src="/img/icon_message.png" /> &nbsp;&nbsp; <b>메시지</b>
			</div>

			<div class="fb_ss tab_area">
				<a href="creator_message_c_list">크리에이터 메시지함</a>
				<a href="creator_message_s_list" class="selected">구독자 메시지함</a>
			</div>

			<article class="fb_c_sc aritcle_border_container" style="margin-bottom: 50px;">
				<div class="message_select_explain">
					대화 메시지를 보낼 구독자를 선택해 주세요
					<button type="button" class="w100 h30 defaultLight" onclick="location.href='creator_message_s_view';">확인</button>
				</div>

				<input type="text" class="sech2" placeholder="메시지 상대 검색" />

				<div>
					<!-- 크리에이터 목록 -->
					<section class="fb_sc">
						<figure class="fb_cc profile"><span>S</span></figure>
						구독자 Nick Name
						<div class="fb_cc radio_clone"><img src="/img/icon_check.png"></div>
						<input type="radio" name="creator" />
					</section>

					<!-- 크리에이터 목록 -->
					<section class="fb_sc">
						<figure class="fb_cc profile"><span>S</span></figure>
						구독자 Nick Name
						<div class="fb_cc radio_clone"><img src="/img/icon_check.png"></div>
						<input type="radio" name="creator" />
					</section>

					<!-- 크리에이터 목록 -->
					<section class="fb_sc">
						<figure class="fb_cc profile"><span>S</span></figure>
						구독자 Nick Name
						<div class="fb_cc radio_clone"><img src="/img/icon_check.png"></div>
						<input type="radio" name="creator" />
					</section>
				</div>

			</article>
		</section>
	</article>
	
	<!-- FOOTER -->
	<?php include_once "/inc/footer"; ?>
</body>
</th:block>
</html>

<!-- 라디오 버튼의 디자인을 위한 스크립트
     라디오 버튼은 숨겨두고 div가 라디오 버튼인척 한다 -->
<script>
	$(function() {
		$(".radio_clone").on("click", function() {
			$(".radio_clone").css({"background-color":"white", "border":"1px solid #bac6cc"});
			$(this).css({"background-color":"#00b0f0", "border":"0"});
			$(this).siblings("input[type='radio']").trigger("click");
		});
	});
</script>
